#servicos{
  text-align: center;
  margin-bottom: 10rem;
}

#servicos h1{
  font-size: 36px;
  font-weight: 600;
  color: black;
}

.imagens-primeira{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.imagens-segunda{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.card-servico{
  position: relative;
  width: 400px;
  height: 250px;
}

.card-servico img{
  width: 100%;
  height: 100%;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Cor do texto */
  font-size: 24px; /* Tamanho do texto */
  font-weight: bold; /* Peso do texto */
  text-align: center;
}

#servicos .btn{
  margin-top: 30px;
}

#servicos a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

#servicos a.red{
  color: #fff;
  font-size: 1.4rem;
  background-color: rgb(163, 6, 6);
}

.skills {
  background-color: var(--light-tertiary-color);
  scroll-margin-top: 15rem;
}

.skills .skills__content {
  padding: 6rem 4rem;
  text-align: center;
}

.skills .skills__content .description {
  max-width: 56rem;
  margin: 0 auto 6rem;
}

.skills .skills__content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.skills .skills__content ul li .image-container {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.skills .skills__content ul li h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
}

@media only screen and (max-width: 768px){
  .imagens-primeira{
    display: grid;
    gap: 2rem;
  }
  
  .imagens-segunda{
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
  }

  .card-servico img{
    width: 400px;
    height: 250px;
  }

}